<?php
unset($DM_CFG);
global $DM_CFG;
$DM_CFG = new stdClass();

$DM_CFG->twit_consumer_key       = '';
$DM_CFG->twit_consumer_secret    = '';
$DM_CFG->twit_oauth_token        = '';
$DM_CFG->twit_oauth_token_secret = '';

?>